body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:544px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u6 {
  position:absolute;
  left:374px;
  top:218px;
  width:170px;
  height:170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
